<div class="container">
	<div class="row">
		<div class="col-md-offset-1 col-md-10">
			<div class="input-group">
				<input type="search" class="form-control" ng-model="fitler" placeholder="Filter">
			</div>
		</div>
	</div>
	<div class="row" ng-repeat="question in questions | filter:fitler">
		<div class="col-md-offset-1 col-md-10" ng-click="view(question)">
			<div class="row question">
				<div class="col-md-1 text-center" style="border-right: 1px grey solid;">
					<div>{{question.score}}</div>
					<div>Votes</div>
				</div>
				<div class="col-md-1 text-center" style="border-right: 1px grey solid;">
					<div>{{question.answer_count}}</div>
					<div>Answers</div>
				</div>
				<div class="col-md-1 text-center" style="border-right: 1px grey solid;">
					<div>{{question.view_count}}</div>
					<div>Views</div>
				</div>
				<div class="col-md-8">
					<div class="row">
						<div class="col-md-12">
							<div ng-bind-html="question.title | trustHtml"></div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-8">
							<span class="label label-default" ng-repeat="tag in question.tags" style="margin-right:10px;">
								{{tag}}
							</span>
						</div>
						<div class="col-md-offset-1 col-md-3 small">
							<small>
								asked {{question.creation_date * 1000 | date:'yyyy-MM-dd'}}
							</small>
						</div>
					</div>
				</div>
				<div class="col-md-1">
					<div class="row">
						<div class="col-md-12" ng-switch="isFavourite(question)">
							<i ng-switch-when="true" class="fa fa-bookmark fa-2x fa-fw" ng-click="removeFromFavourite(question,$event)"></i>
							<i ng-switch-when="false" class="fa fa-bookmark-o fa-2x fa-fw" ng-click="addToFavourite(question,$event)"></i>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>