<div class="container" style="min-height: 400px;">
	<br/>
	<br/>
	<br/>
	<div class="row">
		<div class="col-md-offset-2 col-md-8 text-center">
			<h2>Simple search tool for Stackoverflow.</h2>
		</div>
	</div>
	<div class="row">
		<div class="col-md-offset-2 col-md-8 text-center">
			<p>by berialcheng</p>
		</div>
	</div>
	<br/>
	<br/>
	<div class="row">
		<div class="col-md-offset-2 col-md-8">
			<div class="input-group input-group-lg">
				<input type="text" class="form-control" placeholder="Search here" ng-model="query">
				<span class="input-group-btn">
				    <button class="btn btn-primary" type="button" ng-click="search()">
				    	<i class="fa fa-search fa-fw"></i>
				    	Search
				    </button>
				</span>
			</div>
		</div>
	</div>
	<br/>
	<br/>
	<br/>
	<div class="row" ng-if="quota_percent">
		<div class="col-md-offset-4 col-md-4">
			<div class="progress">
			  <div class="progress-bar" role="progressbar" style="width: {{quota_percent}}%;">
			    {{quota_remaining}} / {{quota_max}}
			  </div>
			</div>
		</div>
	</div>
</div>
